body {
  font-family: 'Open Sans', sans-serif;
}
nav{
  z-index:999000;
  position:fixed;
  top:0;
  left:0;
  background-color:rgb(229, 89,87);
  opacity:0.9;
}

.padding {
  padding-left: 15px;
}

.jumbotron {
  text-align: center;
  min-width: 485px;
}

h1 {
  font-family: 'Poiret One', cursive;
  margin-top: 100px;
  margin-bottom: 0px;
  font-weight: 200;
  /*text-shadow: 1px 1px 1px grey;*/
}

h4 {
  font-family: 'Poiret One', cursive;
  font-weight: 300;
  /*text-shadow: 1px 1px 1px grey;*/
}
