body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(236,239,241);
}
nav{
  z-index:999000;
  position:fixed;
  top:0;
  left:0;
  background-color:rgb(229, 89,87);
  opacity:0.9;
}

.padding {
  padding-left: 15px;
}

#parallax1 {
  height: 75vh;
}

#projects {
  padding-top: 64px;
}
.jumbotron {
  text-align: center;
  min-width: 485px;
}

#aboutme {
  background-color: rgba(84,110,122,0.75);
  margin-top: 64px;
  /*border: 1px solid white;*/
  border-radius: 1%;
  /*font-weight: 200;*/
}

.aboutme-text {
  font-family: 'Roboto', sans-serif;
  /*text-shadow: 1px 1px 2px grey;*/
  padding: 10px;

}
h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 85px;
  margin-bottom: 0px;
  font-weight: 200;
  /*text-shadow: 1px 1px 1px grey;*/
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  /*text-shadow: 1px 1px 1px grey;*/
}

.my-face {
 /* margin-top: 20px;
  margin-right: 5px;*/
  max-width: 432px;
  border-radius: 1%;
}
